{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center; background-color: blanchedalmond; padding: 20px; margin-top: auto;">{{ app_name }}</h1>
<p style="text-align: center;">Sebuah <b>E-Commerce</b> yang memberikan layanan entertainment atau informasi berupa video untuk dinikmati khayalak umum</p>

<h3>Name: </h3>
<p>{{ name }}</p>
<h3>Class: </h3>
<p>{{ class }}</p>

<br>
{% if not video_entries %}
<p>Belum ada data video pada teleplay.</p>
{% else %}
<table id="table-main">
  <tr class="table-row-header">
    <th class="data-table">Nama Video</th>
    <th class="data-table">Price</th>
    <th class="data-table">Description</th>
    <th class="data-table">Duration</th>
    <th class="data-table">Rating</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data video di bawah baris ini 
  {% endcomment %} 
  {% for video_entry in video_entries %}
  <tr class="table-row">
    <td class="data-table">{{video_entry.name}}</td>
    <td class="data-table">{{video_entry.price}}</td>
    <td class="data-table">{{video_entry.description}}</td>
    <td class="data-table">{{video_entry.duration}}</td>
    <td class="data-table">{{video_entry.rating}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />
<h5>Sesi terakhir login: {{ last_login }}</h5>


<div>
  <a href="{% url 'main:create_video_entry' %}">
    <button>Add New Video Entry</button>
  </a>
  <br><br>
  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>
</div>

{% endblock content %}