{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align: center; background-color: blanchedalmond; padding: 20px;">{{ app_name }}</h1>
<p style="text-align: center;">Sebuah <b>E-Commerce</b> yang memberikan layanan entertainment atau informasi berupa video untuk dinikmati khayalak umum</p>

<h3>Name: </h3>
<p>{{ name }}</p>
<h3>Class: </h3>
<p>{{ class }}</p>

<h3 style="background-color: lightslategrey; margin: 0; padding: 10px; text-align: left;"><b>NEWEST</b></h3>
<div style="background-color: lightgrey; display: flex; justify-content: center;">
  <figure>
    <img src="{% static 'teleplay/images/Ada Kabar dengan Cinta.png' %}" style="border-radius: 8px; padding: 5px; width: 190px;" alt="Ada Kabar Dengan Cinta">
    <figcaption>Ada Kabar dengan Cinta?</figcaption>
  </figure>
  <figure>
    <img src="{% static 'teleplay/images/Dinda & Angga.png' %}" style="border-radius: 8px; padding: 5px; width: 190px;" alt="Ada Kabar Dengan Cinta">
    <figcaption>Dinda & Angga</figcaption>
  </figure>
  <figure>
    <img src="{% static 'teleplay/images/Merrie Riana.png' %}" style="border-radius: 8px; padding: 5px; width: 190px;" alt="Ada Kabar Dengan Cinta">
    <figcaption>Merrie Riana</figcaption>
  </figure>
  <figure>
    <img src="{% static 'teleplay/images/True Self.png' %}" style="border-radius: 8px; padding: 5px; width: 190px;" alt="Ada Kabar Dengan Cinta">
    <figcaption>True Self</figcaption>
  </figure>
</div>
<br>
{% if not video_entries %}
<p>Belum ada data video pada teleplay.</p>
{% else %}
<table id="table-main">
  <tr class="table-row">
    <th class="data-table">Nama Video</th>
    <th class="data-table">Price</th>
    <th class="data-table">Description</th>
    <th class="data-table">Duration</th>
    <th class="data-table">Rating</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data video di bawah baris ini 
  {% endcomment %} 
  {% for video_entry in video_entries %}
  <tr class="table-row">
    <td class="data-table">{{video_entry.name}}</td>
    <td class="data-table">{{video_entry.price}}</td>
    <td class="data-table">{{video_entry.description}}</td>
    <td class="data-table">{{video_entry.duration}}</td>
    <td class="data-table">{{video_entry.rating}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_video_entry' %}">
  <button style="text-align: right;">Add New Video Entry</button>
</a>
{% endblock content %}
